@page
@model ImageCollector.UI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
         <span asp-validation-for="Username" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

@section Scripts {
   @*  <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        function login() {
            var username = $('#Username').val();
            var password = $('#Password').val();

            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ username: username, password: password }),
                success: function (data) {
                    localStorage.setItem('token', data.token);
                    window.location.href = '/';
                },
                error: function () {
                    alert('Login failed');
                }
            });
        }
    </script> *@
}